# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#!*.so 		#override exclusion in ~/.gitignore_global
*.dylib  

# Compiled Static libraries
*.lai
*.la
*.a

# backups
*~

# built stuff
*build/

# closed-source
*underDevelopment/
*old/
*closed_source/

# documentation (maybe uncomment this later)
*html/
*latex/
*.dox
*.html

# SVN
*.svn/

