# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# backups
*~

# built stuff
*build/

# documentation (maybe uncomment this later)
*html/
*latex/
*.dox
*.html

# SVN
*.svn/

