<launch>
	
	<!-- The inclusion of which_hand in the zero.yaml file has been deprecated. 
		 Which hand (left/right) must now be specified as an argument when launching the Allegro Hand
		 as an input for both the robot_description and for the grasping library controllers. -->	
	
	<arg name="HAND"/> 					<!-- left, right -->
	<arg name="NUM" default='0'/>		<!-- 0, 1, 2, ...  -->	
	
	<param name="/robot_description" textfile="$(find allegro_hand_description)/allegro_hand_description_$(arg HAND).urdf"/>
	<param name="/allegroHand_$(arg NUM)/robot_description" textfile="$(find allegro_hand_description)/allegro_hand_description_$(arg HAND).urdf"/>
	
	<arg name="gui" default="True" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<!-- This launch file is set up for ROS FUERTE by default. If you are using GROOVY, please change the param "GROOVY" below to 'true'
		 or use the arg GROOVY:=true argument when launching. -->
	<arg name="GROOVY" default="false"/>
    
    
    
    
    
    

	<!-- Joint State (angle) Control GUI -->	
	<node name="joint_gui_$(arg NUM)" pkg="joint_state_publisher_experimental" type="joint_state_publisher" >
    	<remap from="/joint_states" to="/allegroHand_$(arg NUM)/joint_states"/>			
	</node>

	<!-- Joint States (angles) to Joint Transforms -->
	<node name="jointState2tf_$(arg NUM)" pkg="robot_state_publisher" type="state_publisher">
		<remap from="/tf" to="/allegroHand_$(arg NUM)/tf"/>
    	<remap from="/joint_states" to="/allegroHand_$(arg NUM)/joint_states"/>		
    </node>
    
    <!-- Rviz Robot model visualization -->
    <!-- for Fuerte -->
    <node name="rviz_$(arg NUM)" pkg="rviz" type="rviz" args="-d $(find allegro_hand_description)/allegro_hand_config.vcg" unless="$(arg GROOVY)">
		<remap from="/tf" to="/allegroHand_$(arg NUM)/tf"/>   			
	</node>	 
    <!-- for Groovy -->  
    <node name="rviz_$(arg NUM)" pkg="rviz" type="rviz" args="-d $(find allegro_hand_description)/allegro_hand_config.rviz" if="$(arg GROOVY)">
		<remap from="/tf" to="/allegroHand_$(arg NUM)/tf"/>   	 	
	</node>	
	
</launch>
