<launch>

<!-- HOW TO LAUNCH ALL CONTROLLERS USING THIS ONE LAUNCH FILE ???-->
<!-- THERE SHOULD ONLY BE TWO -->

	<!-- 
	Controllers include:
	
		'grasp'
		'grasp_slp'
		'pd'
		'velSat'
		'template' 
		
	The default controller is 'grasp' which emplys the included grasping library.	
	-->
	<arg name="CONTROLLER" default="grasp"/>	
	
	<!-- Default hand is the right hand -->
	<arg name="WHICHHAND" default="right"/>	


	<param name="robot_description" textfile="$(find allegro_hand_description)/allegro_hand_description_$(arg WHICHHAND).urdf"/>
	<node name="jointState2tf" pkg="robot_state_publisher" type="state_publisher">
        <remap from="joint_states" to="/allegroHand/joint_states"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find allegro_hand_description)/allegro_hand_config.vcg" />
    
    
    
    <node name="allegro_hand" pkg="allegro_hand_core_$(arg CONTROLLER)" type="allegro_hand_core_$(arg CONTROLLER)" output="screen">
    	<!--parameters are within the scope of the hand node so that multiple hands can be run at the same time -->
		<rosparam file="parameters/zero.yaml" command="load" />
	</node>
	

	
	<node name="keyboard" pkg="allegro_hand_keyboard" type="allegro_hand_keyboard" output="screen"></node>
	
</launch>
