<launch>
	<node name="allegro_hand" pkg="allegro_hand_core_grasp_slp" type="allegro_hand_core_grasp_slp" ></node>
	
	<node name="keyboard" pkg="allegro_hand_keyboard" type="allegro_hand_keyboard" ></node>
	
	<param name="robot_description" textfile="$(find allegro_hand_description)/AllegroHand_Left.urdf"/>
	<node name="jointState2tf" pkg="robot_state_publisher" type="state_publisher">
        <remap from="joint_states" to="/allegroHand/joint_states"/>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find allegro_hand_description)/allegro_hand_config.vcg" />
	
</launch>
