<launch>
	<arg name="model" default="$(find allegro_hand_description)/AllegroHand_Left.urdf"/>
	<arg name="gui" default="True" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	
	
	
	<node name="allegro_hand" pkg="allegro_hand_core_grasp" type="allegro_hand_core_grasp" >
		<remap from="/allegroHand/joint_cmd" to="joint_states"/>
	</node>
    
    <node name="joint_gui" pkg="joint_state_publisher_experimental" type="joint_state_publisher" ></node>
	<node name="jointState2tf" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find allegro_hand_description)/allegro_hand_config.rviz" />
	
</launch>
